.venv
.vscode/
*.bin
*.ckpt.index
*.egg-info
*.h5
*.keras
*.log
*.mblt
*.msgpack
*.mxq
*.o
*.onnx
*.pb
*.pt
*.pth
*.pyc
*.safetensors
*.so
*.tar
*.tgz
*.tflite
*.torchscript
*.whl
*.zip
*__pycache__*
build/
dist/
tmp/
uv.lock
