*.bin
*.ckpt.index
*.egg-info
*.h5
*.json
*.keras
*.log
*.mblt
*.msgpack
*.mxq
*.o
*.onnx
*.pb
*.pt
*.pth
*.pyc
*.safetensors
*.so
*.tar
*.tflite
*.tgz
*.torchscript
*.wav
*.whl
*.zip
*__pycache__*
.venv
.vscode/
benchmark/results/
build/
dist/
tmp/
uv.lock